:root {
  --bg-hero: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/hero-bigger.webP") no-repeat;
  --bg-color: #eae7dc;
  --color-item: #e85a4f;
  --color-shadow: #8e8d8a;
  --color-light: #fafafa;
  --color-dark: #333;
  --ff-headings: "Oswald", sans serif;
  --ff-body: "Nunito Sans", sans serif;
  --rad-default: 0.18rem;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.03em;
  margin: 0;
  max-width: 100%;
}


/* global styles */

section,
header,
footer {
  padding: 1rem 0;
  background-color: var(--bg-color);
}

.container {
  margin-inline: 4rem;
}

.split {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

strong {
  text-decoration: underline;
}


/*header styles */

h1,
h2,
h3 {
  font-family: var(--ff-headings);
  line-height: 1.1;
  text-align: center;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h2,
h3 {
  margin-bottom: 1.5rem;
}


/*text styles*/

body,
li,
p {
  font-family: var(--ff-body);
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 800;
  text-align: justify;
}
.service-text p {
  text-align: left;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 0;
  padding-left: 0;
}

li {
  font-size: 1.2rem;
}

p {
  margin: 1.5rem 0 1.5rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
  border-radius: var(--rad-default);
  margin: 1.5rem 0 1.5rem 0;
  filter: drop-shadow(0 0 0.35rem var(--color-shadow));
}


/*animation effects*/

h1:hover {
  background: var(--color-item);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .4s ease-in;
  transform: scale(1.1);
}

i:hover {
  transition: .4s ease-in;
  transform: scale(2);
  color: var(--color-item);
}

li:hover {
  transition: .4s ease-in;
  transform: scale(1.3);
  color: var(--color-item);
}

input.join-button:hover {
  transition: .3s ease-in;
  transform: scale(1.1);
}


/*
========
header 
========
*/

.menu ul {
  justify-content: space-evenly;
}

nav.menu {
  width: 100%;
  margin-top: 1em;
}

nav.menu li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


/*
========
hero 
========
*/

.hero {
  background: var(--bg-hero);
  background-position: center;
  background-size: cover;
  height: 90vh;
}

h2.hero-header {
  line-height: 1.1;
  position: relative;
  justify-content: center;
  color: var(--color-light);
  margin-left: 0;
  display: flex;
  margin-bottom: 0;
  font-size: 2rem;
}

.hero-box {
  display: flex;
  float: right;
  position: relative;
  max-width: 15em;
  flex-direction: row;
  padding: 1em;
  height: 100%;
}

.hero-box::before {
  content: "";
  opacity: .7;
  background-color: var(--color-item);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: drop-shadow(0 0 0.35rem var(--color-shadow));
  border-radius: var(--rad-default);
}

div.hero-box.container.split {
  flex-wrap: wrap;
}


/*
========
about-me 
========
*/

#aboutme .container.split {
  margin-inline: 6rem;
}
.aboutme-img img {
  border-radius: 50%;
  height: auto;
  max-height: 70vh;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}
.aboutme-header {
  max-height: 70vh;
}

.aboutme-img {
  margin-right:0;
  display:flex;
  justify-content: flex-end;
}
.aboutme-text {
  margin-inline: 4rem;
} 

/*
========
services 
========
*/

.service-header.container {
  padding: 3rem 0 3rem 0;
  margin:0;
}

.service-header.container>h2 {
  margin-bottom: 0;
}

.service-one,
.service-two,
.service-three {
  background-color: var(--bg-color);
  padding-bottom: 3rem;
}

section.service-one {
  padding-top: 0;
}

.service-text {
  background-color: var(--color-light);
  border-radius: var(--rad-default);
  padding: 1.5rem;
  filter: drop-shadow(0 0 0.35rem var(--color-shadow));
}

#service-two-img {
  display: flex;
  justify-content: flex-start;
  margin-left: 2rem;
}

#service-two-text {
  margin-right: 0;
}

.service-img {
  display: flex;
  justify-content: flex-end;
}


/*
========
contact-me 
========
*/

#form {
  padding-bottom: 3rem;
}

.form-input input[type="text"],
.form-input input[type="email"] {
  font-weight: 800;
  width: 100%;
  display: list-item;
  border: 0.1em solid var(--color-dark);
  border-radius: var(--rad-default);
  font-family: var(--ff-body);
  font-size: 1.1rem;
  padding: 0.6rem;
  margin-bottom: 1rem;
  filter: drop-shadow(0 0 0.2rem var(--color-shadow));
}

textarea {
  font-weight: 800;
  border: 0.1em solid var(--color-dark);
  border-radius: var(--rad-default);
  width: 100%;
  padding: 0.6rem;
  font-family: var(--ff-body);
  font-size: 1.1rem;
  margin-bottom: 1rem;
  resize: none;
  filter: drop-shadow(0 0 0.2rem var(--color-shadow));
}

input.join-button {
  border-radius: var(--rad-default);
  background: var(--color-item);
  border-style: none;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  color: var(--color-light);
  display: list-item;
  cursor: pointer;
  filter: drop-shadow(0 0 0.2rem var(--color-shadow));
}

.small-screen-msg {
  display: none;
}


/*
========
footer 
========
*/

section.follow-me.container {
  margin-right: 0;
}

section.footer-links.container {
  margin-left: 0;
}

footer h3 {
  margin-bottom: 2em;
}

footer.split {
  box-sizing: border-box;
  flex-direction: column;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
}

.follow-me,
.footer-links {
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


/*
=============
media-queries 
=============
*/


/*large screens*/

@media only screen and (min-width: 46em) {
  .split {
    flex-direction: row;
  }

  .split>* {
    flex-basis: 100%;
  }

  .split>*+* {
    margin-left: 2em;
  }

  section,
  header,
  footer {
    padding: 2rem 0;
  }
}


/*medium-small screens*/

@media only screen and (min-width: 20rem) and (max-width: 46em) {
  #service-two-container {
    flex-direction: column-reverse;
  }

  footer h3 {
    margin-bottom: 1rem;
  }

  section.follow-me.container,
  section.footer-links.container {
    width: 100%;
    margin: 0 1rem 0 1rem;
    justify-content: space-around;
    justify-items: center;
  }

  .container,
  .aboutme-header {
    margin-inline: 3rem;
  }

  section.service-one,
  section.service-two {
    margin-bottom: 0;
  }
}


/*extra-small screens*/

@media only screen and (max-width: 20rem) {
  img {
    display: none;
  }

  .form-input {
    display: none;
  }

  .small-screen-msg {
    display: flex;
  }

  body,
  li,
  p {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 0.5em;
    margin-inline: 2rem;
  }

  h2,
  h3 {
    font-size: 1.5rem;
    margin-inline: 1rem;
  }

  .service-text {
    padding: 0.5em;
  }

  .container {
    margin-inline: 2rem;
    /* width: min(90%, 70rem); */
  }

  h2.hero-header {
    margin-inline: 0;
    width: 90%;
    font-size: 1.5rem;
  }

  section.service-one,
  section.service-two,
  section.service-three {
    margin: 0;
  }

  footer.container {
    /* width: min(90%, 70rem); */
    margin: 0;
  }

  footer.split {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-bottom: 1rem;
  }

  section.follow-me.container,
  section.footer-links.container {
    width: 100%;
    margin: 0;
    justify-content: space-around;
    justify-items: center;
  }

  .follow-me .footer-links {
    flex-direction: row;
    justify-content: flex-start;
  }

  .follow-me i {
    margin-inline: 0.5em;
  }

  .footer-links li {
    margin-inline: 0.5em;
  }

  footer h3 {
    margin-bottom: 0.5em;
  }
}